*{
    font-family: sans-serif;
    color: black;
}
.navbar{
    background-color: rgb(255, 255, 255);
    height: 60px;
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
    background-image:url(Image/logo.png) ;
    width: 150px;
    height:45px ;
    font-size: 50px;
    background-size: cover;
}

.nav-elemant ul {
    list-style: none;
}
.nav-elemant ul li {
    display: inline-block;
    position: relative;
 }
 .nav-elemant ul li a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
 }
 .drop il{
    display: block;
}
 .drop {
    width: 200%;
    position: absolute;
    z-index: 999;
    display: none;
    text-align: left;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.076);;
    background-color: rgb(255, 255, 255);
}
.nav-elemant a{
    transition: transform .2s;
}
a:hover{
    color: red;
    transform: scale(1.2);
}
a i:hover{
    color: red;
}
 li:hover ul.drop  {
    display: block;
}

/* hero */

.hero{
    width: 100%;
    height: 550px;
    background-color: rgb(219, 219, 219);
}